/* STYLESHEET FOR DEFAUALT THEME */
.spacer{
    width:100;
    clear:both;
    height: 10px;
    border-bottom:0.6px solid #ccc;
    margin-bottom: 15px;
}
.header-text{
    font-weight:lighter;
}
.tile-label{
    color:#fff;
    font-size:17px;
}
.bottom-menu-wrapper{
    clear: both;
    width:100%;
}
.page-content{
    min-height: 100vh;
}
.form-input{
  width:70% !important;
  margin-top:11px;
}
label{
    font-weight: bold;
}